DirectoryIndex blog-posts-list.php

# Convert blog /markdown-blog?page=post-title.md to /markdown-blog/post-title
RewriteEngine on
# REPLACE THIS WITH THE SUBDIRECTORY OF YOUR BLOG
RewriteBase /markdown-blog/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*?)/?$ blog-page.php?page=$1.md [L]