DirectoryIndex blog-posts-list.php

# Remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [R=301,L]

# Convert blog /markdown-blog?page=post-title.md to /markdown-blog/post-title
RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Dynamically get the root directory path of the blog
RewriteCond $0#%{REQUEST_URI} ([^#]*)#(.*)\1$
RewriteRule ^(.*?)/?$ %2blog-page.php?page=$1.md [L]
