DirectoryIndex blog-posts-list.php

# Set an environment variable for the token
# This token will be the one for the upload
SetEnv AUTH_TOKEN "A_STRONG_TOKEN"

# Set the blog title
SetEnv BLOG_TITLE "My Awesome Blog"

# Set the blog description
SetEnv BLOG_DESCRIPTION "A blog about awesome things"

# Remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [R=301,L]

RewriteEngine on
RewriteBase /

# Do redirects for the RSS file
RewriteCond %{REQUEST_FILENAME} rss.php
RewriteRule ^(.*) $1 [L]

# Convert blog /markdown-blog?page=post-title.md to /markdown-blog/post-title
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Dynamically get the root directory path of the blog
RewriteCond $0#%{REQUEST_URI} ([^#]*)#(.*)\1$
RewriteRule ^(.*?)/?$ %2blog-page.php?page=$1.md [L]
